<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2>Create Professional Profile</h2>
      <%= form_for @pro_user do |f| %>
        <%= f.label "Profile picture" %>
        <%= f.file_field :prof_pic %>
        <%= f.label "Title" %>
        <%= f.text_field :title, class: "form-control", placeholder:"title" %>
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control", placeholder: "Describe yourself and the services you offer"%>
        <%= f.label "Price per hour" %>
        <%= f.number_field :price_hr, class: "form-control", placeholder:"$/hr" %>
        <%= f.label :location %>
        <%= f.text_field :location, class: "form-control", placeholder:"Location or neighborhood" %>
        <br>
        <%= f.submit "Create Pro Profile", class: "btn btn-default col-sm-12"%>
      <% end %>
      </form>
  </div>
</div>

