<div class="container professional-profile">
	<div class="row">
		<div class="col-sm-4">
			<div class="prof-pic">
				<%= image_tag @pro_user.prof_pic.url(:medium)%>
			</div>
			<% if current_user && current_user.id === @pro_user.user_id %>
				<p class="edit-pic-link"><%= link_to t("pic_update"), edit_profpic_professionals_path  %><p>
			<% end %>
			<br>
			<div class="pro-booking">
				<p><i class="fa fa-usd"></i><%= @pro_user.price_hr.to_i%>/hr</p>
				<p><i class="fa fa-map-marker"></i><%= @pro_user.location %></p>
			<% if current_user %>
				<% if current_user.id != @pro_user.user.id %>
					<button type="button" class="btn btn-primary btn-md" id="make-reservation"><%= t("make_reservation") %></button>
							<%= render partial: 'reservations/reservation_form', locals: {reservation: @reservation}%>
				<% end %>
			<% else %>
					<button type="button" class="btn btn-primary btn-md" id="make-reservation"><%= t("make_reservation") %></button>
						<%= render partial: 'reservations/reservation_form', locals: {reservation: @reservation}%>
			<% end %>
			</div>
		</div>
		
		<div class="col-sm-7 pro-details">
			<div class="row">
				<div class="col-sm-6">
					<% unless @pro_user.user.last_name %>
						<% if @pro_user.user.name.split(" ").length > 1 %>
							<p class="pro-name-profile"><%= @pro_user.user.name.split(" ").first.capitalize %> <%= @pro_user.user.name.split(" ").second.capitalize %></p>
						<% else %>
							<p class="pro-name"><%= @pro_user.user.name.capitalize %>
						<% end %>
					<% end %>
				</div>
			<% if current_user && current_user.id === @pro_user.user_id %>
				<div class="col-sm-6 pull-right edit-link">
					<p class="edit-link"><%= link_to t("edit_profile"), edit_professional_path(current_user.professional.id) %> </p>
				</div>
			<% end %>
			</div>	
				<p class="pro-title-profile"><%= @pro_user.title %></p>
				<%= render partial: 'reviews/rating_overall' %>
				<br>
				<%= simple_format @pro_user.description, class: "pro-description"%>
			<br>
		</div>
		<%= render partial: "reviews/reviews_panel" %>
	</div>
</div>



