
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 user-edit">
      <h2><%= t("edit_profile") %></h2> 

      <%= form_for(@user, :url => { :action => "update_profile" }) do |f| %>

        <div class="field">
          <%= f.label :email%><br />
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: :email, disabled: true%>
        </div>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: :name %>
        </div>

        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: :last_name %>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "Update", class: "btn btn-default col-sm-12" %>
        </div>
      <% end %>
      <br>
      <br>
      <%= link_to "Back", :back %>

      <br>
      <br>
      <p>Unhappy?</p>
      <%= link_to t("account_delete"), user_path(@user), confirm: t("sure_delete"), method: :delete %>
     </div>
  </div>
</div>
