<div class="container spacer">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
    <h2><%= t("sign_up") %></h2>
    <br>
    <%= form_for @user do |f| %>

      <div class="field">
        <%= f.label t("full_name") %><br />
        <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: t("full_name_placeholder") %>
      </div>
      <br>
      <div class="field">
        <%= f.label t("email") %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: t("email"), type: "email" %>
      </div>
      <br>
      <div class="field">
        <%= f.label t("password") %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length%> <%= t("password_length") %>)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: t("password") %>
      </div>
      <br>
      <div class="field">
        <%= f.label t("password_confirmation") %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: t("password_confirmation")  %>
      </div>
      <br>
      <div class="field">
      <%= f.label "Profile picture" %>
      <%= f.file_field t("Foto de perfil") %>
       </div>
      <br />
      <div class="actions">
        <%= f.submit t("sign_up"), class: "btn btn-default col-sm-12", id: "submit" %>
      </div>
    <% end %>

    </div>
  </div>
</div>
