<div class="container spacer">
	<div class="row">
		<div class="col-sm-3 col-sm-offset-1">
			<br>
			<div class="prof-pic-small">
				<% if current_user.prof_pic.present? %>
					<%= image_tag @user.prof_pic.url(:small)%>
				<% else %>
					<%= image_tag ("no_pic.png") %>
				<% end %>
			<div class="row">
				<div class="col-sm-12">
				<% if current_user.id === @user.id%>
					<p class="edit-pic-link"><%= link_to t("pic_update"), edit_profpic_users_path%><p>
				<% end %>
				</div>	
			</div>	
		</div>
	</div>
		<div class="col-sm-5 users">
			<br>
			<br>
			<div class="col-sm-6 pull-right edit-link">
					<p class="edit-link"><%= link_to t("edit_profile"), edit_profile_users_path %> </p>
			</div>
			<% if @user.last_name.empty? %>
				<h4><%= @user.name.split(" ").first.capitalize %> <%= @user.name.split(" ").second.capitalize %></h4>
			<% else %>
				<h4><%= @user.name.capitalize %> <%= @user.last_name.capitalize %></h4>
			<% end %>
			<br>
			<p>E-mail: <%= @user.email %></p>
			<p>Password: ******* <%= link_to "Change your password", edit_password_users_path %></p>
			<br>
			<br>
			<% if current_user.professional %>
				<%= link_to "View my professional profile", professional_path(@user.professional.id) %>
			<% else %>
				<%= link_to 'Create a professional profile', new_professional_path, class:"btn btn-primary btn-md" %>
			<%end %>
		</div>

	</div>
</div>
