<div class="container" id="spacer">
	<div class="row">
		<div class="col-sm-3 col-sm-offset-1">
			<div class="prof-pic-small">
				<% if @user.prof_pic_file_name === nil%>
					<p>Prof pic avatar here</p>	
				<% else %>
					<%= image_tag @user.prof_pic.url(:small)%>
				<% end %>
			<div class="row">
				<div class="col-sm-12">
				<% if current_user.id === @user.id%>
					<p class="edit-pic-link"><%= link_to t("pic_update"), user_edit_profpic_path(current_user.id) %><p>
				<% end %>
				</div>	
			</div>	
		</div>
	</div>
		<div class="col-sm-5 users">
			<br>
			<br>
			<p>E-mail: <%= @user.email %></p>
			<p>Password: ******* <%= link_to "Change your password", edit_password_users_path %></p>
			<br>
			<br>
			<% if current_user.professional %>
				<%= link_to "View my professional profile", professional_path(@user.professional.id) %>
			<% else %>
				<%= link_to 'Create a professional profile', new_professional_path, class:"btn btn-primary btn-md" %>
			<%end %>
		</div>

	</div>
</div>
