<div class="container-fluid reservation" hidden>
	<div class="reservation-details">
		<div class="row">
			<p class="pull-right id">Reservation #<%= reservation.id %></p>
		</div>
			<div class="col-sm-2 col-sm-offset-1 fa">
				<i class="fa fa-calendar"></i> 
			</div>
			<div class="col-sm-9 ">
				<p><%= reservation.date.strftime("%d/%m/%y") %> </p>
			</div>
			<div class="col-sm-2 col-sm-offset-1 fa">
				<i class="fa fa-user"></i>
			</div>
			<div class="col-sm-9">
				<p><strong><%= reservation.professional.user.name %></strong></p>
			</div>
			<div class="col-sm-2 col-sm-offset-1 fa">
				<i class="fa fa-envelope-o"></i>
			</div>
			<div class="col-sm-9">
				<p><%= reservation.professional.user.email %></p>
			</div>
			<div class="col-sm-2 col-sm-offset-1 fa">
				<i class="fa fa-map-marker"></i>
			</div>
			<div class="col-sm-9">
				<p><%= reservation.professional.location %></p>
			</div>
		</div>
</div>