<div class="reservation-form"  hidden>
	<%= form_for reservation do |f| %>
	<br>
		<%= f.label "When?" %>
		<br>
		<%= f.date_field :date, class: "col-sm-8 col-sm-offset-2 "%>
		<br>
		<%= f.hidden_field :professional_id, value: @pro_user.id %>
		<br>
		<br>
		<%= f.submit "Request reservation", class: "btn btn-default" %>
	<% end %>
</div>
