<div class="container spacer">
	<div class="row">
		<div class="col-sm-5 col-sm-offset-1">
			<h3><%= t("user_reservations") %></h3>
				<div class="my-reservations" >
					<br>
					<%if current_user.reservations.empty?%>
							<p><%= t("no_user_reservations") %></p>
					<% else %>
						<h4><strong>Future reservations</strong></h4>
						<% if @user_reservations.length <= 0 %>
							<p>You don't have any future reservations</p>						
						<% else %>
							<% @user_reservations.each do |reservation| %>
								<%= reservation.date.strftime("%d/%m/%y") %> with 	
								<% if reservation.professional.user.last_name %>
									<%= link_to reservation.professional.user.name + " " + reservation.professional.user.last_name, professional_path(reservation.professional.id) %>
								<% else %>
									<%= link_to  reservation.professional.user.name.split(" ").first.capitalize + " " + reservation.professional.user.name.split(" ").second.capitalize, professional_path(reservation.professional.id) %> 
								<% end %>
									| <a class="view-reservation">View more details</a>
								<%= render partial: 'reservations/reservation_user', locals: {reservation: reservation}%>
								<br>
							<% end %>
						<% end %>
						<hr>
						<% unless @user_past_reservations.empty? %>
							<h4><strong>Past reservations</strong></h4>
							<% @user_past_reservations.each do |reservation| %>
							<div class="row">
								<div class="col-sm-7 reservation-line">
								<%= reservation.date.strftime("%d/%m/%y") %> with 	
								<% if reservation.professional.user.last_name %>
									<%= link_to reservation.professional.user.name + " " + reservation.professional.user.last_name, professional_path(reservation.professional.id) %>
									</div>
								<% else %>
									<%= link_to  reservation.professional.user.name.split(" ").first.capitalize + " " + reservation.professional.user.name.split(" ").second.capitalize, professional_path(reservation.professional.id) %> 
									</div>
								<% end %>

								<%= link_to "Review your experience", professional_path(reservation.professional.id), class: "btn btn-primary reservation-review col-sm-4" %>
								</div>
								<%= render partial: 'reservations/reservation_user', locals: {reservation: reservation}%>
								<br>
							<% end %>
						<% end %>
					<% end %>				
				</div>	
			</div>	
		
		<div class="col-sm-5">
			<h3><%= t("pro_reservations") %></h3>
			<% if current_user.professional %>
				<div class="my-reservations" >
					<br>
					<%if current_user.professional.reservations.empty? %>
						<h><%= t("no_pro_reservations") %></h4>
					<% else %>
						<h4><strong>Future reservations</strong></h4>
						<% if @pro_reservations.empty? %>
							<p>You don't have any future reservations</p>
						<% else %>
							<% @pro_reservations.each do |reservation| %>
								<%= reservation.date.strftime("%d/%m/%y") %> with 
								<% unless reservation.user.last_name %>
									<%= reservation.user.name.split(" ").first.capitalize %> <%= reservation.user.name.split(" ").second.capitalize %>
								<% else %>
									<%= reservation.user.name %> <%= reservation.user.last_name %>
								<% end %>
								| <a class="view-reservation">View more details</a>
							<%= render partial: "reservations/reservation_pro", locals: {reservation: reservation}%>
							<br>
							<% end %>
						<% end %>
						<hr>
						<% if @pro_past_resevations %>
							<h4><strong>Past reservations</strong></h4>
							<% @pro_past_reservations.each do |reservation| %>
								<%= reservation.date.strftime("%d/%m/%y") %> with <%= reservation.user.name%>
								| <a class="view-reservation">View more details</a>
							<%= render partial: "reservations/reservation_pro", locals: {reservation: reservation}%>

							<% end %>
						<% end %>
					<% end %>		
				</div>
			<% else %>
				<%= link_to 'Create a professional profile', new_professional_path, class:"btn btn-primary btn-md create-pro" %>
			<% end %>
		</div>
	</div>
</div>