<div class="container" id="spacer">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-1">
			<h4><%= t("user_reservations") %></h4>
				<div class="my-reservations" >
					<br>
					<%if current_user.reservations.empty?%>
						<p><%= t("no_user_reservations") %></p>
					<% else %>
						<% @user_reservations.each do |reservation| %>
							<%= reservation.date.strftime("%d/%m/%y") %> with <%= reservation.professional.user.name %> 
							| <a class="view-reservation">View more details</a>
							<%= render partial: 'reservations/reservation_user', locals: {reservation: reservation}%>
							<br>
						<% end %>
					<% end %>		
				</div>	
			</div>	
		
		<div class="col-sm-4 col-sm-offset-1">
			<h4><%= t("pro_reservations") %></h4>
			<% if current_user.professional %>
				<div class="my-reservations" >
					<br>
					<%if current_user.professional.reviews.empty? %>
						<p><%= t("no_pro_reservations") %></p>
					<% else %>
						<% current_user.professional.reservations.each do |reservation| %>
							<%= reservation.date.strftime("%d/%m/%y") %> with <%= reservation.user.name%>
							| <a class="view-reservation">View more details</a>
						<%= render partial: "reservations/reservation_pro", locals: {reservation: reservation}%>
						<% end %>
					<% end %>		
				</div>
			<% else %>
				<%= link_to 'Create a professional profile', new_professional_path, class:"btn btn-primary btn-md" %>
			<% end %>
		</div>
	</div>
</div>