<h3> <%= t("hi") %> <%= @reservation.user.name %>! </h3>
<p><%= t("reservation_made") %> <%= @reservation.professional.user.name %>. <strong><%= t("reservation_date") %> <%= @reservation.date.strftime("%d/%m/%y") %></strong> </p>
<p><%= t("you_can_contact") %> <%= @reservation.professional.user.name %> <%= t("with_this_email") %> <%= @reservation.professional.user.email %></p>

<p><%= t("sign_in_to_account") %> <a href="https://bookapro.xyz"> Book-a-Pro </a> <%= t("check_reservation") %> </p>
