<p><%= t("hi") %> <%= @user.name %>!</p>
<p><%= t("welcome") %> <%= t("to") %> Book-a-pro :) </p>

<p><%= t("email_confirmation") %></p>

<p><%= link_to t('confirm_account'), confirmation_url(@resource, confirmation_token: @token) %></p>
