<%= render partial: 'sites/main_panel' %>
<div class="row">	
	<div class="col-sm-4 col-sm-offset-4">
		<%= form_tag(root_path, :method => "get", id: "search-form", role: "search") do %>
    	<%= text_field_tag :search, params[:search], class:"form-control", placeholder:"Search" %>
    <!-- <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button> -->
		<% end %>
	</div>
</div>
<div class="container all-pros">
	<div class="row">
		<% @pro_users.each do |pro| %>
			<div class="col-sm-4">
				<div class="prof-pic-medium">
					<div class="prof-pic-title">
						<p class="pro-name"><%= pro.user.name %></p>
						<p class="pro-title"><%= link_to pro.title, professional_path(pro.id)%></p>
					</div>
					<a href="#"><%= image_tag pro.prof_pic.url(:medium)%></a>
				</div>
				<br>
			</div>
		<% end %>
	</div>
</div>

<%= render partial: 'layouts/why' %>