<%= render partial: 'sites/main_panel' %>

<div class="container all-pros">
	<div class="row all-pros">
		<% @pro_users.each do |pro| %> 
			<div class="col-sm-4">
			<a href="<%= professional_path(pro.id) %>">
				<div class="prof-pic-medium">
					<div class="prof-pic-title">
						<% if pro.user.last_name %>
						<p class="pro-name"><%= pro.user.name%> <%= pro.user.last_name%></p>
					<% else %>
						<p class="pro-name"><%= pro.user.name.split(" ").first.capitalize %> <%= pro.user.name.split(" ").second.capitalize %></p>
					<% end %>
						<p class="pro-title"><%= pro.title %></p>
					</div>
					<%= image_tag pro.prof_pic.url(:medium),class: "pro-img"%>
				</div>
			</a>
				<br>
			</div>
		<% end %>
	</div>
</div>

<%= render partial: 'layouts/why' %>

<script type="text/javascript">
	$(function () {
		new Router()
	})
</script>
