<!DOCTYPE html>
<html>
<head>
  <title>Book-a-Pro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> <!-- have to fix twitter bootstrap gem glyphicon -->
  <link rel="shortcut icon" href="/assets/sites/icon_header.jpg">
</head>
<body>
    <div class="wrap">
      <% if current_page?("/") %> 
      <%= render partial: 'layouts/navbar' %>
    <% else %>
      <div class="nav-dif">
      <%= render partial: 'layouts/navbar'%>
      </div>
    <% end %>
    
    <div class="row">
      <div class="notice-alert">
    <% if notice %>
        <p><%= notice %></p>  
    <% elsif alert %>
      <p><%= alert %></p>
    <% end %>
      </div>
    </div>

    <a href="#" class="scrollup">Scroll-Up</a>

    <%= yield %>
    </div>



    <%= render partial: 'layouts/footer' %>
    

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
