<!DOCTYPE html>
<html>
<head>
  <title>Book-a-Pro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/sites/icon_header.jpg">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> <!-- have to fix twitter bootstrap gem glyphicon -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= javascript_include_tag 'application'%>
</head>
<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1123329817681747',
        xfbml      : true,
        version    : 'v2.4'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

  <div class="wrap">
    <% if current_page?("/") %> 
    <%= render partial: 'layouts/navbar' %>
  <% else %>
    <div class="nav-dif">
    <%= render partial: 'layouts/navbar'%>
    </div>
  <% end %>
  
  <div class="row">
    <div class="notice-alert">
  <% if notice %>
      <p><%= notice %></p>  
  <% elsif alert %>
    <p><%= alert %></p>
  <% end %>
    </div>
  </div>

  <a href="#" class="scrollup">Scroll-Up</a>

  <%= yield %>
  </div>

  <%= render partial: 'layouts/footer' %>

</body>
</html>
