
<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <% end %>
  <header>
    <h1> Welcome to Book-a-Pro </h1>
    <% if current_user %>
      <p>Log in as <%= current_user.name%> |
        <%= link_to 'Log out', '/logout' %></p>
    <% else %>
      <p><%= link_to "Sign up", new_user_registration_path %>
      |
      <%= link_to 'Log in', new_user_session_path %></p>
    <% end %>
  </header>
<div class="container">
		<div class="row">
			<%= yield %>
	</div>
</div>
<hr>

<footer>
		<%= link_to 'Home', root_path, id: 'footer' %>
</footer>


	

</body>
</html>
