<!DOCTYPE html>
<html>
<head>
  <title>Book-a-Pro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> <!-- have to fix twitter bootstrap gem glyphicon -->
  <link rel="shortcut icon" href="/assets/sites/icon_header.jpg">
</head>
<body>
    
  <% if current_page?("/") %> 
    <%= render partial: 'layouts/navbar' %>
  <% else %>
    <div class="nav-dif">
    <%= render partial: 'layouts/navbar'%>
    </div>
  <% end %>

  <% if notice %>
    <div class="row notice">
      <div class="col-sm-4 col-sm-offset-4 notice-alert">
        <p><%= notice %></p>
      </div>
    </div>
  <% elsif alert %>
    <div class="row alert">
      <div class="notice-alert">   
        <p><%= alert %></p>
      </div>
    </div>
  <% end %>

    <a href="#" class="scrollup">Scroll-Up</a>
    
    <%= yield %>

    <%= render partial: 'layouts/footer' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
